{% extends 'layout.html' %} {% block body %} 

<p1>The title of the movie:{{movie_info_json['Title']}}</p1>
<br>
<p2>Year of release: {{movie_info_json['Year']}}</p2>
<br>
<p3>Actors: {{movie_info_json['Actors']}}</p3>
<br>
<p4>Director: {{movie_info_json['Director']}}</p4>
<br>
<p5>Language: {{movie_info_json['Language']}}</p5>
<br>
<p6>Plot Summary: {{movie_info_json['Plot']}}</p6>
<br>
<img
    src="{{movie_info_json['Poster']}}"
    alt="poster of the movie"
    id="poster"
/>
<br>
<br>
<a href=https://imdb.com/title/{{ movie_info_json['imdbID']}} id="imdb-url">For more information click here</a>
<br>
<br>

<p7>Ratings</p7>
{% for item in movie_info_json['Ratings'] %}
<p8>{{item["Source"]}}: {{item["Value"]}}</p8>
{% endfor %}
<br>



{% endblock body %}
